*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body {
  background-color: #282c34;
  color: #61dafb;
  height: 100vh;
  min-height: 600px;
  font-family: cursive;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  border: 3px solid #61dafb;
  padding: 6px;
  border-radius: 5px;
  width: auto;
  min-width: 300px;
}
h1{
  position: relative;
  margin-bottom: 1.3rem; 
}
h1::before {
  content:'';
  position: absolute;
  height: 4px;
  width:140px;
  background-color: #61dafb;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
h2{
  padding-top: 0.5rem
}
h1,h2,h4{
  letter-spacing: 1px;
}
.container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 125px;
  height: 35px;
  margin: 2rem auto;
  font-size: 15px;
}
.container1 > div {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#session-length, #break-length {
  border-radius: 2px;
}
#session-decrement, #break-decrement, #session-increment, #break-increment {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: default;
}
#timer-label {
 border-top: 2px solid #61dafb;
}
.session-break-icon{
  margin: 0.9rem auto;
}
#progress-bar {
  height: 11px;
  width: 170px;
  margin: 0 auto 25px auto;
  border-radius:8px;
  border: 2px solid #61dafb
}
#progress-bar .progress {
  width: 100%;
  height: 100%;
  border-radius:8px;
}

#time-left {
  height: 60px;
  width:130px;
  font-size: 40px;
  margin: auto;
  border-radius: 8px;
}
.container3 {
display: flex;
justify-content: center;
margin-top: 30px;
}
.container3 > div {
 margin: 5px;
 padding: 8px;
 display: flex;
 justify-content: center;
 width: 60px;
 
 border-radius: 8px;
 cursor: default;
}
.container3 > div, #time-left, #progress-bar .progress, .container1 > div {
  background-color: crimson;
}