body {
  background-color: #282c34;
  color: #61dafb;
  height: 100vh;
  min-height: 600px;
  font-family: cursive;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1, .container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 35px;
  margin: auto;
  font-size: 20px;
}
.container1 > div, .container2 > div {
  width: 35px;
  height: 35px;
 background-color:crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}
#session-length, #break-length {
  border:1px solid red;
}
#session-decrement, #break-decrement {
  border-radius: 15px 0px 0px 15px;
  cursor: default;
}
#session-increment, #break-increment {
  border-radius: 0px 15px 15px 0px;
  cursor: default;
}
#progress-bar {
  height: 12px;
  width: 170px;
  margin: 0 auto 25px auto;
  border-radius:8px;
  border: 3px solid #61dafb
}
#progress-bar .progress {
  width: 100%;
  height: 100%;
  border-radius:8px;
  background-color: crimson; 
}

#time-left {
  background-color: crimson;
  width:120px;
  height: 60px;
  font-size: 40px;
  margin: auto;
  border-radius: 8px;
}
.container3 {
display: flex;
justify-content: center;
margin-top: 30px;
}
.container3 > div {
 margin: 5px;
 padding: 8px;
 display: flex;
 justify-content: center;
 width: 60px;
 background-color: crimson;
 border-radius: 8px;
 cursor: default;
}